*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.corzinha{
    background:linear-gradient(#716cf8,#7ebaf9,#6eba5a) ;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#menu{
    position: absolute;
    z-index: 4;
    top: 15%;
    left: 33%;
    width: 35vw;
    height: 75vh;
    background:linear-gradient(#fffefbc6,#f2dcb9b8,#ffe0e0ec);
    border: 0.2px solid rgba(54, 54, 54, 0.543);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

#menu p {
    font-size: 5em;
    margin-top: 2vw;
    letter-spacing: 10px;
}

#menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu div button {
    width: 20vw;
    height: 12.5vh;
    margin: 15px;
    border: 0.4px solid rgba(54, 54, 54, 0.543);
    border-radius: 15px;
    background:linear-gradient(#f4f3ee,#dfdbc8) ;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8em;
    letter-spacing: 1.3px; 
}

#opacidadeBaixa{
    opacity: 0.07;
}

#jogo{
    z-index: 1;
    width: 100vw;
    height: 50vh;
}

.score{
    background-color: blue;
    width: 8vw;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 90%;
    top: 3%;
}

.score p{
    font-size: 2em;

}

.chao{
    width: 100vw;
    height: 1vh;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.player{ 
    height: 12vh;
    width: 12vh;
    top: 38%;
    left: 5%;
    z-index: 3;
    position: absolute;
    background: url(img/player.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.animP{
    animation: pulo 0.6s linear  ;
}


@keyframes pulo {
    0%{
        top: 38%;;
    }

    7%{
        top: 30%;
    }

    20%{
        top: 25%;
    }
    70%{
        top: 25%;
    }

    100%{
        top: 38%;
    }

}

.obstaculo{
   
    height: 12vh;
    width: 12vh;
    z-index: 2;
    position: absolute;
    top: 38%;
    left: 100%;
    background: url(img/obstaculoUm.png) no-repeat;
    background-size: cover;
    background-position: center;

}

.aniO{
    animation: obstaculoVindo 2s linear infinite ;
}


@keyframes obstaculoVindo {
    0%{
        left: 100%;
        
    }
    100%{
        left: -20%;
    }

}

.perdeu{
    position: relative;
    font-size: 3em;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transition: .2s ease;
 
}



#foraDoJogo{
 z-index: 0;
 width: 100vw;
 height: 50vh;
 
}





.trilhos img{
width: 115vw;
height: 123vh;
position: absolute;
top: -24%;

}

.trilhos img:nth-child(1){
left: -1%;
}

.trilhos img:nth-child(2){
left: 99%;
}


