*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#menu{
    position: absolute;
    z-index: 4;
    top: 15%;
    left: 35%;
    width: 30vw;
    height: 60vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu button {
    width: 10vw;
    height: 10vh;
    margin: 15px;
    border-radius: 7px;
}

#jogo{
    z-index: 1;
    width: 100vw;
    height: 50vh;
}

.chao{
    background-color: blue;
    width: 100vw;
    height: 1vh;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.player{
    
    height: 12vh;
    width: 12vh;
    top: 76.3%;
    left: 5%;
    z-index: 3;
    position: relative;
    background: url(img/player.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: green;
    
}

.animP{
    animation: pulo 0.6s linear  ;
}


@keyframes pulo {
    0%{
        top: 76.3%;;
    }

    7%{
        top: 52%;
    }

    20%{
        top: 50%;
    }
    70%{
        top: 50%;
    }

    100%{
        top: 76.3%;
    }

}

.obstaculo{
   
    height: 12vh;
    width: 12vh;
    z-index: 2;
    position: relative;
    top: 53%;
    left: 80%;
    background: url(img/obstaculoUm.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: red;
    
    
 
}

.aniO{
    animation: obstaculoVindo 2s linear infinite ;
}


@keyframes obstaculoVindo {
    0%{
        left: 80%;
        
    }
    100%{
        left: -20%;
    }

}

.perdeu{
    position: absolute;
    top: 10%;
    left: 23%;
    
    font-size: 3em;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
    transform: scale(1.5);
}

.perdeuMesmo{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    z-index: 10;
}

#foraDoJogo{
 z-index: 0;
 width: 100vw;
 height: 50vh;
 
}





.trilhos img{
width: 115vw;
height: 123vh;
position: absolute;
top: -24%;

}

.trilhos img:nth-child(1){
left: -1%;
}

.trilhos img:nth-child(2){
left: 99%;
}


